{{!-- navbar header --}}
<nav class="navbar navbar-default">
  <div class="row">
    <div class="col-sm-8">
      <div class="navbar-header" id="login-navbar-header">
        <a class="navbar-brand" href="/">
          <div>
            <img class="animated infinite pulse" id="logo" src="/img/hnd_g.svg" alt="logo">
          </div>
        </a>
        <h1 style="color: white" class="logo-text animated infinite pulse "> Hate&Date</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-right">

        <a href="/user">
          <button type="button" class="btn aub2">Profile</button>
        </a>
        <a href="/about">
          <button type="button" class="btn aub2">About Us</button>
        </a>
        <a href="/logout">
          <button type="button" id="logout-btn" class="btn aub2">Logout</button>
        </a>
        {{!--
        <a class="navbar-brand" href="/logout" id="logout-btn">Logout</a> --}}
      </div>
    </div>
  </div>
  {{!-- End of Row --}}
  <div class="container-fluid">
    <div class="rows">
      <div class="col-md-12">
        <div class="categoryButtons">
        </div>
      </div>
    </div>
  </div>
</nav>

{{!-- end of navbar header --}}
<!-- Collect the nav links, forms, and other content for toggling -->
{{!--
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="/members">
        <span class="member-name" id="navbar-name"></span>
      </a>
    </li>
  </ul>
</div> --}}
<!-- /.navbar-collapse -->
{{!-- </nav> --}}
<!-- End header -->
{{!-- </nav> --}}
<!-- End navigation -->

<div class="container">

  <div class="row feed-row">
    {{!-- Left Column --}}
    <div class="col-md-7" class="left-panel">
      <div class="post-area">
        <p id="liveFeedTitle" class="hate-feed">
          Hate Feed
        </p>
        <p id="share">
          Share your story...
        </p>

        {{!-- Posts Feed --}}
        <div id="h2dFeed">
          {{#each posts}}
          <div class="panel post-panel">
            <div class="panel-body">
              <div class="row">

                <div class="col-md-2">
                  <img class="user-img-members" src="{{User.imageUrl}}">
                </div>

                <div class="col-md-5">
                  <div class="row">
                    <h4 class="postStyle">{{User.name}}</h4>
                  </div>
                  <div class="row">
                    <div class="post-datetime">{{updatedAt}}</div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="post-category">Category: {{category}}</div>
                </div>


              </div>
              <hr>
              <div class="feed-post"> {{body}}</div>
              
              {{!-- <br>
              <div data-id={{id}} class="like-button">
                <button type="button" class="hate-btn">I Hate That Too!</button>
                <span class="count">{{likes}}</span>
              </div>

              <br>
              <div data-id={{id}} class="like-button">
              <button type="button">I Hate That Too!</button>
              <span class="count">{{likes}}</span>
              </div> --}}


            </div>
            {{!-- End of Panel Body --}}
          </div>
          {{!-- End of Panel --}} {{/each}}
        </div>
        {{!-- End of Posts Feed --}}

      </div>
      {{!-- End of Posts Area --}}
    </div>
    {{!-- End of Left Column --}} 
    
    {{!-- Middle Column --}}
    <div class="col-md-1"></div>

    {{!-- Right Column --}}
    <div class="col-md-4">
      {{!-- Post Form Panel --}}
      <div class="panel post-form">
        <div class="panel-heading">
          <p id="liveFeedTitle" class="panel-title">Post Form</p>
        </div>
        <div class="panel-body" id="postFormPanelBody">
          <form id="cms">
            <div class="form-group">
              <textarea class="form-control" rows="10" id="postBody" placeholder="I absolutely hate..."></textarea>
              <br>
              <div class="form-group">
                <select class="custom-select" id="postCategory">

                  <option value="null" selected="" disabled="">Category...</option>
                  <option value="Coding">Coding</option>
                  <option value="Education">Education</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="Fashion">Fashion</option>
                  <option value="Food">Food</option>
                  <option value="Health">Health</option>
                  <option value="Love">Love</option>
                  <option value="Money">Money</option>
                  <option value="People">People</option>
                  <option value="Politics">Politics</option>
                  <option value="Teens">Teens</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Weather">Weather</option>

                </select>
              </div>
            </div>
          </form>
        </div>
        <div>
          <div class="postFormSubmitButton">
            <center>
              <button id="postFormSubmit" type="submit" class="btn submit btn-lg">Submit</button>
            </center>
          </div>
        </div>
      </div>
      {{!-- End of Post Form Panel --}}
    </div>
    {{!-- End of Right Column --}}
  </div>
  {{!-- End of Row --}}
</div>
<video autoplay loop id="video-background" muted plays-inline>
  <source src="/img/bg_profile1.mov" type="video/mp4">
</video>
{{!-- End of Container --}}

<script src="js/members.js"></script>