{{!-- navbar header --}}
<nav class="navbar navbar-default">
  <div class="row">
    <div class="col-md-8">
      <div class="navbar-header" id="login-navbar-header">
        <a class="navbar-brand" href="/">
          <div>
            <img id="logo" src="/img/hnd_g.svg" alt="logo">
          </div>
        </a>
        <h1 style="color: white" class="logo-text"> Hate&Date
          
        </h1>
      </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-1"></div>
  </div>
</nav>
{{!-- end of navbar header --}}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="/members">
        <span class="member-name" id="navbar-name"></span>
      </a>
    </li>
    <li>
      <a class="navbar-brand" href="/logout" id="logout-btn">Logout</a>
    </li>
    <li>
      <a href="/about">
        <button type="button" class="btn">About Us</button>
      </a>
    </li>

  </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
<!-- End header -->
</nav>
<!-- End navigation -->

<div class="container">

  <div class="row">

    {{!-- Left Column --}}

    <div class="col-md-7 jumbotron" class="left-panel">
      <div class="post-area">
        {{#each posts}}
        <div class="panel-heading" id="postStyle">{{User.name}} absolutely hates:</div>
        <div class="panel panel-default">
          <div class="panel-body">
            {{body}}
            <hr>
            <div class="post-category">Category: {{category}}</div>
            <div class="post-datetime">{{updatedAt}}</div>
            <div class="post-userid">{{UserId}}</div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- Middle Column --}}
    <div class="col-md-1">
    </div>

    {{!-- Right Column --}}
    <div class="col-md-4 jumbotron">

      {{!-- Post Form Panel --}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Post Form</h3>
        </div>
        <div class="panel-body" id="postFormPanelBody">
          <form id="cms">
            <div class="form-group">
              <textarea class="form-control" rows="10" id="postBody" placeholder="I absolutely hate..."></textarea>
              <br>
              <div class="form-group">
                <select class="custom-select" id="postCategory">
                  <option value="null" selected="" disabled="">Category...</option>
                  <option value="Politics">Politics</option>
                  <option value="School">School</option>
                  <option value="Fashion">Fashion</option>
                  <option value="Food">Food</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Weather">Weather</option>
                  <option value="Teens">Teens</option>
                  <option value="Coding">Coding</option>
                  <option value="People">People</option>
                  <option value="Love">Love</option>
                  <option value="Health">Health</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <div class="postFormSubmitButton">
            <button id="postFormSubmit" type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </div>
      </div>
      {{!-- End of Post Form Panel --}}

    </div>
    {{!-- End of Right Column --}}

  </div>
  {{!-- End of Row --}}

</div>
{{!-- End of Container --}}

<script type="text/javascript" src="js/members.js"></script>