{{!-- navbar header --}}
<nav class="navbar navbar-default">
    <div class="row">
      <div class="col-sm-8">
        <div class="navbar-header" id="login-navbar-header">
          <a class="navbar-brand" href="/">
            <div>
              <img class="animated infinite pulse" id="logo" src="/img/hnd_g.svg" alt="logo">
            </div>
          </a>
          <h1 style="color: white" class="logo-text animated infinite pulse "> Hate&Date</h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-right">
          <a href="/about">
            <button type="button" class="btn aub2">About Us</button>
          </a>
           <a href="/logout">
            <button type="button" id="logout-btn" class="btn aub2">Logout</button>
           </a>
      {{!-- <a class="navbar-brand" href="/logout" id="logout-btn">Logout</a> --}}
        </div>
      </div>
      </div>
      </nav>
      <div class="panel panel-default">
  <div class="panel-heading">About Me</div>

  <div class="panel-body">
{{!-- adding an element to display the image on the user page --}}
    <img src="{{user.imageUrl}}"> 
    
    <br>
    <p>Name: {{user.name}}</p> 
    <br>
    <p>Email: {{user.email}}</p> 
    <br>
    <p>Occupation: {{user.occupation}}</p>
    <br>
    <p>Relationship type: {{user.relationshipType}}</p>
    <br>
    <p>Location: {{user.location}}</p>
    <br>
    <p>Bio: {{user.bio}}</p>
    <br>

     {{!-- {{/each}} --}}
    
  </div>
</div>


<script type="text/javascript" src="js/user.js"></script>
      